<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Budding GDB Toolset</Name><AddInID>{42869646-45d6-408f-97d3-a8471d897f16}</AddInID><Description>Toolset for Budding GDB Data Model</Description><Version>0.5</Version><Image>Images\addin_pic2.png</Image><Author>Seth Docherty</Author><Company /><Date>09/28/2016</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="Budding_GDB_toolset_addin.py" namespace="Budding_GDB_toolset_addin"><ArcMap>
    <Commands>
        <Button caption="Add New Features" category="Budding GDB Toolset" class="btn_add_features" id="Budding_GDB_toolset_addin.button_add_features" image="Images\Tool_icon.PNG" message="Add new features to a Report Feature Class" tip="Add New Features"><Help heading="" /></Button>
        <Button caption="Add New Records" category="Budding GDB Toolset" class="btn_add_records" id="Budding_GDB_toolset_addin.button_add_records" image="Images\Tool_icon.PNG" message="Add new records to a table" tip="Add New Records"><Help heading="" /></Button>
        <Button caption="GIS - Updating from a Feature Class" category="Budding GDB Toolset" class="btn_update_attrib_feat_feat" id="Budding_GDB_toolset_addin.button_update_attrib_feat_feat" image="Images\Tool_icon.PNG" message="Update Attributes from a Feature Class" tip="Updating Feature Class Attributes"><Help heading="" /></Button>
        <Button caption="GIS - Update from a Table" category="Budding GDB Toolset" class="btn_update_attrib_feat_tbl" id="Budding_GDB_toolset_addin.button_update_attrib_feat_tbl" image="Images\Tool_icon.PNG" message="Update Attributes from a Table" tip="Updating Feature Class Attributes"><Help heading="" /></Button>
        <Button caption="Table - Update from a Feature Class" category="Budding GDB Toolset" class="btn_update_attrib_tbl_feat" id="Budding_GDB_toolset_addin.button_update_attrib_tbl_feat" image="Images\Tool_icon.PNG" message="Update Attributes from a Feature Class" tip="Updating Table Attributes"><Help heading="" /></Button>
        <Button caption="Table - Update from a Table" category="Budding GDB Toolset" class="btn_update_attrib_tbl_tbl" id="Budding_GDB_toolset_addin.button_update_attrib_tbl_tbl" image="Images\Tool_icon.PNG" message="Update Attributes from a Table" tip="Updating Table Attributes"><Help heading="" /></Button>
        <Button caption="Batch Definition Query" category="Budding GDB Toolset" class="btn_xl_batch_query" id="Budding_GDB_toolset_addin.button_xl_batch_query" image="Images\Excel_icon.PNG" message="Quickly create a definition query by using the Batch Definition Query excel document" tip="Batch Definition Query Excel Document"><Help heading="" /></Button>
        <Button caption="Compare a List of Values" category="Budding GDB Toolset" class="btn_xl_list_compare" id="Budding_GDB_toolset_addin.button_xl_list_compare" image="Images\Excel_icon.PNG" message="Compare two different lists of values to see the differences" tip="Dataset List Comparison Excel Document"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Budding GDB Toolset" category="Budding GDB Toolset" id="Budding_GDB_toolset_addin.toolbar" showInitially="true"><Items><Menu refID="Budding_GDB_toolset_addin.menu_toolset_menu" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        <Menu caption="For GIS Layers..." category="Budding GDB Toolset" id="Budding_GDB_toolset_addin.menu_update_attrib_feat" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="Budding_GDB_toolset_addin.button_update_attrib_feat_feat" /><Button refID="Budding_GDB_toolset_addin.button_update_attrib_feat_tbl" /></Items></Menu>
        <Menu caption="For Tables..." category="Budding GDB Toolset" id="Budding_GDB_toolset_addin.menu_update_attrib_tbl" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="Budding_GDB_toolset_addin.button_update_attrib_tbl_feat" /><Button refID="Budding_GDB_toolset_addin.button_update_attrib_tbl_tbl" /></Items></Menu>
        <Menu caption="Update Attributes" category="Budding GDB Toolset" id="Budding_GDB_toolset_addin.menu_update_atrb" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Menu refID="Budding_GDB_toolset_addin.menu_update_attrib_feat" /><Menu refID="Budding_GDB_toolset_addin.menu_update_attrib_tbl" /></Items></Menu>
        <Menu caption="Toolset Menu" category="Budding GDB Toolset" id="Budding_GDB_toolset_addin.menu_toolset_menu" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="Budding_GDB_toolset_addin.button_add_features" /><Button refID="Budding_GDB_toolset_addin.button_add_records" /><Menu refID="Budding_GDB_toolset_addin.menu_update_atrb" /><Button refID="Budding_GDB_toolset_addin.button_xl_batch_query" /><Button refID="Budding_GDB_toolset_addin.button_xl_list_compare" /></Items></Menu>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>